/* VARIABLES */
:root {
  /* Colors */
  --clr-black: #151515;
  --clr-green: #4ee1a0;
  --clr-dark-grey: #242424;
  --clr-grey: #d9d9d9;
  --clr-white: #ffffff;
  --clr-invalid: #ff6f5b;

  --max-width-mobile: 343px;
  --max-width-tablet: 708px;
  --max-width-desktop: 1110px;
}

/* GLOBAL STYLES */
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

body {
  font-family: SpaceGrotesk;
  background-color: var(--clr-black);
  color: var(--clr-white);
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Heading XL */
h1 {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
}

/* Heading L */
h2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1.5px;
}

/* Heading M */
h3 {
  font-size: 24px;
  line-height: 32px;
}

/* body copy */
p {
  font-size: 18px;
  line-height: 28px;
}

/* GLOBAL CLASSES */

.btn {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--clr-white);
  background-color: transparent;
  border-style: none;
  padding-bottom: 10px;
  border-bottom: 2.5px solid var(--clr-green);
}

.btn:hover {
  color: var(--clr-green);
}

input,
textarea {
  border: none;
  outline: none;
  color: var(--clr-white);
  background-color: transparent;
  padding-bottom: 16px;
  border-bottom: 2.5px solid var(--clr-grey);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.22px;
  width: 100%;
}

input:focus,
textarea:focus {
  border-bottom: 2.5px solid var(--clr-green);
}

input:invalid,
textarea:invalid {
  border-bottom: 2.5px solid var(--clr-invalid);
}

/* Navbar */

.nav {
  height: 72px;
  padding: 1rem;
}

.nav-container {
  width: 100%;
  max-width: 174px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav-logo h3 {
  text-align: center;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

svg:hover path {
  fill: var(--clr-green);
}

@media screen and (min-width: 768px) {
  .nav-container {
    max-width: var(--max-width-tablet);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-icons {
    column-gap: 32px;
  }
}

@media screen and (min-width: 992px) {
  .nav-container {
    max-width: var(--max-width-desktop);
  }
}

/* ----- Hero/Header ----- */

.hero {
  position: relative;
  height: calc(100vh - 72px);
  overflow: hidden;
  height: 700px;
}

.pattern-rings {
  position: absolute;
  background-image: url("../assets/images/pattern-rings.svg");
  width: 530px;
  height: 129px;
  left: -342px;
  top: 124px;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.pattern-circle {
  position: absolute;
  background-image: url("../assets/images/pattern-circle.svg");
  width: 129px;
  height: 129px;
  left: 311px;
  top: 254px;
  opacity: 0.5;
}

.hero-container {
  width: 100%;
  max-width: var(--max-width-mobile);
  margin: 0 auto;
}

.hero-img {
  background-image: url("../assets/images/image-profile-mobile.webp");
  background-size: cover;
  width: 174px;
  height: 383px;
  margin: 0 auto;
}

.hero-info {
  text-align: center;
}

.hero-info h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.14px;
  margin-bottom: 24px;
}

.hero-info .text-underline {
  border-bottom: 4px solid var(--clr-green);
  display: inline-block;
}

.hero-info p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 24px;
}

br {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    overflow: visible;
    margin-bottom: 70px;
  }

  .hero-container {
    max-width: var(--max-width-tablet);
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .hero-img {
    background-image: url("../assets/images/image-profile-tablet.webp");
    width: 322px;
    height: 600px;
    position: absolute;
    right: 0;
    top: -75px;
    z-index: -1;
  }

  .pattern-rings {
    left: -265px;
    top: 86px;
    opacity: 1;
  }

  .pattern-circle {
    left: 702px;
    top: 471px;
  }

  .hero-info {
    z-index: 1;
    text-align: left;
  }

  .hero-info h3 {
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.04545px;
    margin-bottom: 60px;
  }

  .hero-info p {
    margin-bottom: 34px;
  }

  br {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .hero {
    overflow: visible;
    margin-bottom: 0px;
  }

  .nav-icons {
    margin-right: 32px;
  }

  .hero-container {
    max-width: var(--max-width-desktop);
    position: relative;
  }

  .hero-img {
    background-image: url("../assets/images/image-profile-desktop.webp");
    /* transform: translateY(-75px); */
    position: absolute;
    width: 445px;
    height: 720px;
  }
}

/* styling tech. stack section */

.tech-stack {
  text-align: center;
}
.tech-stack-container {
  width: 100%;
  max-width: var(--max-width-mobile);
  margin: 0 auto;
  border-top: 1px solid var(--clr-white);
  border-bottom: 1px solid var(--clr-white);
  padding: 40px 0;
}

.stack-item > h2 {
  margin-bottom: 1px;
  margin-top: 24px;
}
.stack-item > p {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .tech-stack-container {
    max-width: var(--max-width-tablet);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: none;
  }
  .tech-stack {
    text-align: left;
  }

  .tech-stack p {
    text-align: left;
  }

  .stack-item {
    flex: 0 0 calc(50%);
  }
}

@media screen and (min-width: 992px) {
  .tech-stack-container {
    max-width: var(--max-width-desktop);
    padding-top: 40px;
  }
  .stack-item {
    flex: 0 0 calc(33.33%);
  }
}

/* Project section */

.project-container {
  width: 100%;
  max-width: var(--max-width-mobile);
  margin: 0 auto;
}
.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header > h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.13636px;
}

.project-item {
  margin-top: 40px;
  /* margin: 0 auto; */
}

.project-image-container {
  display: none;
}

.project-img-1 {
  background-image: url("../assets/images/thumbnail-project-1-small.webp");
  width: 343px;
  height: 253px;
  background-size: contain;
}
.project-img-2 {
  background-image: url("../assets/images/thumbnail-project-2-small.webp");
  width: 343px;
  height: 253px;
  background-size: contain;
}
.project-img-3 {
  background-image: url("../assets/images/thumbnail-project-3-small.webp");
  width: 343px;
  height: 253px;
  background-size: contain;
}
.project-img-4 {
  background-image: url("../assets/images/thumbnail-project-4-small.webp");
  width: 343px;
  height: 253px;
  background-size: contain;
}
.project-img-5 {
  background-image: url("../assets/images/thumbnail-project-5-small.webp");
  width: 343px;
  height: 253px;
  background-size: contain;
}
.project-img-6 {
  background-image: url("../assets/images/thumbnail-project-6-small.webp");
  width: 343px;
  height: 253px;
  background-size: contain;
}

.project-info h3 {
  text-transform: uppercase;
  margin-bottom: 3.5px;
}
.project-info-stack {
  display: flex;
  gap: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--clr-grey);
}
.project-info-stack > p {
  margin-top: 3.5px;
}
.project-info-action button {
  margin-right: 30px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .project-container {
    max-width: var(--max-width-tablet);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .project-header {
    display: flex;
    justify-content: space-between;
  }

  .project-header > h3 {
    font-size: 88px;
  }

  .project-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .project-container {
    max-width: var(--max-width-desktop);
  }

  .project-img-1,
  .project-img-2,
  .project-img-3,
  .project-img-4,
  .project-img-5,
  .project-img-6 {
    display: none;
  }

  .project-info-action {
    display: none;
  }

  .project-image-container {
    position: relative;
    display: inline-block;
  }

  .project-image-container img {
    width: 342px;
    height: 253px;
    opacity: 1;
    transition: all 0.3s linear;
  }

  .project-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-image-container:hover img {
    opacity: 0.1;
  }

  .project-image-container:hover .project-button-container {
    opacity: 1;
  }

  .project-button-one {
    margin-bottom: 48px;
  }
  .project-button-one,
  .project-button-two {
    display: block;
  }
}

/* Contact Form */
.contact {
  background-color: var(--clr-dark-grey);
}

.contact-info h2,
p {
  text-align: center;
  margin-bottom: 0;
}

.contact-form-container {
  width: 100%;
  max-width: var(--max-width-mobile);
  margin: 0 auto;
  text-align: right;
  margin-top: 80px;
  padding-top: 60px;
  padding-bottom: 87px;
  border-bottom: 1px solid var(--clr-white);
}

textarea {
  width: 100%;
  resize: vertical;
  height: auto;
  margin-bottom: 32px;
}

.form input {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contact-form-container {
    max-width: var(--max-width-tablet);
  }

  .contact-info {
    max-width: 445px;
    margin: 0 auto;
  }

  .contact-info h2 {
    font-size: 72px;
  }

  .contact-form {
    max-width: 445px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .contact-form-container {
    max-width: var(--max-width-desktop);
    display: flex;
  }

  .contact-info h2 {
    margin-top: 0;
  }
}
